* {
  margin: 0;
  padding: 0;
}

.raleway-class {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header {
  width: 100%;
  height: 698px;
  background-image: url("../Assets/Hero-bg.png");
  background-size: cover;
}

body {
  background-color: #f5f8ff;
}
main {
  margin: 0 auto 130px;
  max-width: 1140px;
}
nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 50px;
}

.logo {
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}
.btn-primary {
  background-color: #4e47ff;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  border: none;
  padding: 12px 36px;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: yellow;
  color: black;
  padding: 12px 36px;
  font-size: 24px;
  cursor: pointer;
}
.hero-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
  padding: 152px 267px;
}
.hero-para {
  font-size: 65px;
  font-weight: bold;
  text-align: center;
}
.image {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

.live-preview {
  padding: 130px 0;
  margin: 0 auto;
}
.preview-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview-title {
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 23px;
}
.preview-info {
  height: 203px;
  width: 517px;
}

.preview-desc {
  font-weight: 200;
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}

.user-container {
  text-align: center;
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 80px;
  border-radius: 24px;
}
.user-body {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.user-title {
  color: #4e47ff;
  font-size: 80px;
  font-weight: bold;
}

.user-desc {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.review {
  margin-top: 137px;
  text-align: center;
}

.review-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  text-align: left;
  gap: 20px;
}
.review-align {
  padding: 24px;
  background-color: white;
  border-radius: 14px;
}

.stars {
  height: 20px;
  width: 90px;
  background-image: url(../Assets/icon-star.png);
  background-repeat: repeat-x;
}
.review-content {
  margin-top: 24px;
  margin-bottom: 24px;
}
.review-desc {
  font-size: 16px;
  font-weight: 400;
}
.avatar {
  display: flex;
  gap: 6px;
}
.date-font {
  color: #b3b3b3;
  margin-top: 2px;
  font-size: 10px;
}

.focus {
  margin-top: 130px;
  margin-bottom: 130px;
}
.focus-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 14px;
  padding: 150px 71px;
  gap: 20px;
}
.image2 {
  width: 840px;
  height: 367px;
  border-radius: 48px;
  text-align: center;
}
.contact {
  display: flex;
  justify-content: center;
}
.contact-container {
  padding: 0 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 100px;
  max-width: 1140px;
  margin: 0 auto;
}

.contact-1 {
  width: 50%;
  max-width: 500px;
  text-align: center;
}
label {
  display: block;
  text-align: left;
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 600;
}
textarea {
  resize: none;
  overflow: auto;
}
.contact-container [type="text"],
.contact-container input[type="email"],
.contact-container textarea {
  height: 64px;
  border-radius: 10px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 20px 32px;
  margin-bottom: 24px;
  border: none;
}
.footer {
  gap: 20px;
  text-align: center;
  background-color: white;
  padding: 100px 450px;
  align-items: center;
}
footer h1 {
  font-size: 100px;
  font-weight: 1000;
  color: #4e47ff;
  margin-bottom: 8px;
}
footer p {
  color: #8987a1;
}
footer ul {
  display: flex;
  gap: 48px;
  justify-content: space-around;
  margin-top: 20px;
}
footer ul li {
  list-style: none;
}
footer li a {
  text-decoration: none;
  color: #8987a1;
}
